<!DOCTYPE html>
<html ng-app="myApp">
<head>

<title>Angular Basics</title>

<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">


<!--Angular Library-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<!--Bootstrap Library-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascript/jquery-cookie.js"></script>


<link rel='stylesheet' href='stylesheets/style.css' />

    <link rel='stylesheet' href='stylesheets/MenuIcons.css' />
    <link rel='stylesheet' href='stylesheets/GlobalPage.css' />
    <link rel='stylesheet' href='stylesheets/MovingImages.css' />
    <link rel='stylesheet' href='stylesheets/PanelShadow.css' />

    <script src="javascript/UserDefined/CookieOnPageLoading.js"></script>
    <script src="javascript/UserDefined/MovingImages.js"></script>
     <script src="javascript/UserDefined/Angular/AngularCart.js"></script>

<style type="text/css">
    
    .menu-disabled-true {
     color: red;
     }
    
</style>

    

</head>


<body onload="checkCookie()">

    <div id="background">
    

        <div id="check"></div>

        <ul id="menu">
  <li><a href="/DrakaPlatform">Why Draka</a></li>
  <li><a href="/Stylised Menu">Menu</a></li>
  <li><a href="/grid">Grid</a></li>
  <li><a href="/3d">3d transformation</a></li>
</ul> 
       



<form ng-submit="OnSubmit()" ng-controller="StartUpController">

Starting: <input ng-change="computeNeeded()" ng-model="funding.startingEstimate">
Recommendation: {{funding.needed}}

<button>Fund mystartup</button>
</form>
                  

       
       <div id="H1">     <img class="example" id="H" src=Images/H.gif  style="position:absolute; left: 500; top: 100; width: 35px; height: 50px;"></div>
       <div id="A1">     <img class="example" id="A" src=Images/A.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;"></div> 
       <div id="R1">     <img class="example" src=Images/R.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;"> </div>
       <div id="D1">     <img class="example" src=Images/D.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="I1">     <img class="example" src=Images/I.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="K1">     <img class="example" src=Images/K.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="M1">     <img class="example" id="M" src=Images/M.gif  style="position:absolute; left: 500; top: 100; width: 35px; height: 50px;"></div>         
       <div id="U1">     <img class="example" id="U" src=Images/U.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;"></div> 
       <div id="N1">     <img class="example" src=Images/N.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;"> </div>
       <div id="Z1">     <img class="example" src=Images/Z.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="A2">     <img class="example" src=Images/A.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="A3">     <img class="example" src=Images/A.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="A4">     <img class="example" src=Images/A.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
       <div id="L1">     <img class="example" src=Images/L.gif  style="position:absolute; left: 500; top: 100; width: 30px; height: 40px;">  </div>
         
         
<br><br><br><br>
<input type=button onClick=timer() value='Draka Is Coming'>
<input type=button onClick=reset1() value='Get Original'>
<div id='msg'></div>

            

    <div ng-controller='DeathrayMenuController'>
<ul>
<li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>Change my color :)</li>

</ul>
<div/>

        <p>oops, jquery cookie</p>

        <div ng-controller="MyCtrl">
       <input type="text" ng-model="foo" placeholder="Enter something" />
       <input type="button" ng-click="doSomething()" value="Send" ng-disabled="foo == null" />
   </div>
       

<script>
$(document).ready(function(){
    $("p").click(function(){


        $.cookie.json = true;




      

     var user = [{ name: "name", age: 25 },{ name: "name", age: 25 }]

     user.push({ name: "hardik", age: 25 });

$.cookie('user', user);


var currentUser = $.cookie('user');
    
alert('User name is ' + currentUser[2].name);
    });
});
</script>







     

        </div>
</body>
</html>